

// mixin sem reiknar nákvæmar prósentur útfrá dálkum
@mixin columns($col: 1) {
  // margföldum með "1%" til að breyta gildi í prósentu gildi
  width: ($col / 12 * 100) * 1%;
}

.offset {
  &-2 {
    margin-left: (2 / 12 * 100) * 1%; // reiknað einsog að ofan
  }

  &-sm {
    @media (max-width: 599px) {
      &-0 {
        margin-left: 0;
      }
    }
  }
}
