
.heading {
  &-one {
    padding: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    //border: none; eru þessir tveir border á eh egill?
  }

  &-two {
    padding: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
   // border: none;
  }

  &-three {
    padding-top: 0.5em;
    overflow: hidden;
    font-size: 1em;
    text-overflow: clip;
    white-space: nowrap;
  }

  &-date {
    padding-top: 0.5em;
    font-size: 0.75em;
    font-weight: 500;
  }
}

hr {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-color: rgba(255, 255, 255, 0.5);
}

.button {
  // ekki búinn með takkann
}

.button:hover {
  background-color: #333;
  // þarf hover?
}

.categories {
  width: 100%;

  &-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &-item {
      // höfum aðgang að mixin hér þar sem grid var importað á undan í styles.scss
      display: flex;
      width: 100%;
      padding: 0.5em;
      flex-direction: column;
      @media (min-width: 500px) {
        width: 50%;

      }
    }
  }

  &-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

.time {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  padding: 0.25em;
  font-size: 0.75em;
  background-color: rgba(0, 0, 0, 0.5);
}

.image {
  width: 100%;
}

@media (min-width: 500px) {
  .heading-three {
    font-size: 1.25em;
  }

  .heading-date {
    font-size: 1em;
  }

}
