/* TODO útfæra verkefni 5 */

.heading {
    /*font-family: 'Merriweather', georgia, serif; Hvaða letur á ég að nota??*/

}

  .heading-one {
    font-size: 1.4em;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .heading-two {
    font-size: 1.5em;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

hr{
  width: 70%;
  margin: auto;
  color: rgba(255, 255, 255, 0.5); /*virkar ekki*/
}

.button{
 /*ekki búinn með takkann*/
}

.button:hover { 
    background-color: #333; /*þarf hover?*/
}

.categories {
  
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    width: 100%;
    
    &-item {
    // höfum aðgang að mixin hér þar sem grid var importað á undan í styles.scss
    width: 100%;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 20px;
  }
  }


    @media (min-width: 500px) {
      width: 50%;
      margin-right: 0;
      margin-left: 0;
    }
  
    &-img {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }
}



.image {
    width: 100%;
    min-width: 200px;
    max-width: 100%;
  }



@media (max-width: 800px) {
/* eitthvað kemur hér*/
}