.heading-big {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.player {
  display: flex;
  width: 100%;
  padding: 1em;
  flex-direction: column;
  align-items: center;

  &-controls {
    display: flex;
    justify-content: center;

    &-images {
      width: 100%;
      max-width: 3em;
      height: 100%;
      margin: 1em;
    }
  }

  &-container {
    width: 100%;
    max-width: 60em;

    &-overlay {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5);
      background-image: url("img/play.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 5%;
    }

    &-video {
      position: relative;
      z-index: -1;
      width: 100%;
    }

    &-play {
      position: absolute;
      width: 10%;
      height: 10%;
      margin: auto;
    }
  }

  &-goback {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
