/* setjum box-sizing: border-box; á allt */
/*þarf þetta?*/
html {
  box-sizing: border-box;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  padding: 0.5em;
}

*, *:before, *:after {
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  margin: 0;
  padding: 0;
  
  /*veit ekki alveg hvort þurfi*/
}

body {
  background-color: rgba(0, 0, 0, 0.5);
}

main{
    font-size: 1em;
}


@import "scss/index";
@import "scss/video";